*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
}
ul {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:gold;
    color: white;
    line-height: 80px;
}
li {
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
    background-color: gold ;
    color: white;
    line-height: 80px;
    padding: 5px 20px;
}
a {
    color:#225;
    text-decoration: none;
    font-weight: 800;
    font-size: 24px;
    border-radius: 3px;
    font-family: 'Tajawal', sans-serif;
    }

.logo {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 40px;
}
a:hover {
    color:yellow;
    transition: .3s;
}